<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
    th, td {
        padding: 5px;
        text-align: left;
    }
</style>
<div class="delta-content">
    <div class="delta-navbar-top">
        <ng-include src="'views/common/templates/navbar-top-anon.view.client.html'">
    </div>
    <div class="container-fluid">
        <p class="delta-home-margin-top"></p>
        <div class="row">
            <div class="col-xs-1 col-md-2"></div>
            <div class="col-xs-10 col-lg-8 col-md-8">
                <table style="width:100%">
                    <tr>
                        <th>Wiki-Page</th>
                        <th colspan="2" align="center">Links</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>https://wiki.corp.ebay.somethin//</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>https://wiki.corp.ebay.somethin//</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>https://wiki.corp.ebay.somethin//</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>https://wiki.corp.ebay.somethin//</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>https://wiki.corp.ebay.somethin//</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>https://wiki.corp.ebay.somethin//</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>https://wiki.corp.ebay.somethin//</td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>https://wiki.corp.ebay.somethin//</td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>https://wiki.corp.ebay.somethin//</td>
                    </tr>
                    <tr>
                        <td>10</td>
                        <td>https://wiki.corp.ebay.somethin//</td>
                    </tr>
                    <tr>
                        <td>11</td>
                        <td>https://wiki.corp.ebay.somethin//</td>
                    </tr>
                    <tr>
                        <td>12</td>
                        <td>https://wiki.corp.ebay.somethin//</td>
                    </tr>
                    <tr>
                        <td>13</td>
                        <td>https://wiki.corp.ebay.somethin//</td>
                    </tr>
                    <tr>
                        <td>14</td>
                        <td>https://wiki.corp.ebay.somethin//</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
