<script>
    function myFunction() {
        // Declare variables
        var input, filter, table, tr, td, i;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>
<div class="delta-content">
    <div class="delta-navbar-top">
        <ng-include src="'views/common/templates/navbar-top-anon.view.client.html'">
    </div>
    <div class="container-fluid">
        <p class="delta-home-margin-top"></p>
        <div class="row">
            <div class="col-xs-1 col-md-2"></div>
            <div class="col-xs-10 col-lg-8 col-md-8">
                <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search by question." style="width: 450px"><br><br>
                <table class="table table-hover" id="myTable">
                    <tr>
                        <th>Questions</th>
                        <th colspan="2" align="center">Links</th>
                    </tr>
                    <tr>
                        <td>How to get prod access</td>
                        <td><a href="">https://wiki.corp.ebay.somethin//</a></td>
                    </tr>
                    <tr>
                        <td>How to change user name</td>
                        <td><a href="">https://wiki.corp.ebay.somethin//</a></td>
                    </tr>
                    <tr>
                        <td>Where is ebay Central</td>
                        <td><a href="">https://wiki.corp.ebay.somethin//</a></td>
                    </tr>
                    <tr>
                        <td>Where can i find ebay helpline number?</td>
                        <td><a href="">https://wiki.corp.ebay.somethin//</a></td>
                    </tr>
                    <tr>
                        <td>Where can i find stubtex access</td>
                        <td><a href="">https://wiki.corp.ebay.somethin//</a></td>
                    </tr>
                    <tr>
                        <td>Question</td>
                        <td><a href="">https://wiki.corp.ebay.somethin//</a></td>
                    </tr>
                    <tr>
                        <td>Question</td>
                        <td><a href="">https://wiki.corp.ebay.somethin//</a></td>
                    </tr>
                    <tr>
                        <td>Question</td>
                        <td><a href="">https://wiki.corp.ebay.somethin//</a></td>
                    </tr>
                    <tr>
                        <td>Question</td>
                        <td><a href="">https://wiki.corp.ebay.somethin//</a></td>
                    </tr>
                    <tr>
                        <td>QuestionE</td>
                        <td><a href="">https://wiki.corp.ebay.somethin//</a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
