<div class="delta-content">
    <div class="delta-navbar-top">
        <ng-include src="'views/common/templates/navbar-top-anon.view.client.html'">
    </div>
    <div class="container-fluid">
        <p class="delta-home-margin-top"></p>
        <div class="row">
            <div class="col-xs-1 col-md-2"></div>
            <div class="col-xs-10 col-lg-8 col-md-8">
                <div class="delta-top-questions">
                    <ul class="list-group" ng-repeat="cardData in model.topQuestions">
                        <li class="list-group-item">
                            <ng-include src="'views/search/templates/question.card.view.client.html'"></ng-include>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="col-xs-1 col-md-2"></div>
    </div>
    <div class="delta-navbar-bottom">
        <ng-include src="'views/common/templates/navbar-bottom.view.client.html'">
    </div>
</div>
</div>
