<div class="delta-content">
    <div class="question-card">
        <div class="row">
            <div class="col-sm-8">
                <a ng-click="model.getQuestionURL(cardData._id)" role="button">
                    <h3 class="delta-object-title-name">{{cardData.title}}</h3></a>
            </div>
            <div class="col-sm-4">
                <div class="col-sm-4">
                    <div>{{cardData.viewsCount}}</div>
                    <div>VIEWS</div>
                </div>
                <div class="col-sm-4">
                    <div>{{cardData.isAnswered}}</div>
                    <div>ANSWERED</div>
                </div>
                <div class="col-sm-4">
                    <div>{{cardData.answerCount}}</div>
                    <div>ANSWERS</div>
                </div>
            </div>
        </div>
    </div>
</div>
