<div class="delta-content">
    <div class="question-card">
        <div class="row">
            <div class="col-sm-8">
                <h3><a ng-click="model.getQuestionURL(cardData._id)" role="button" class="question-hyperlink">
                    {{cardData.title}}</a></h3>
            </div>
            <div class="col-sm-4">
                <div class="col-sm-6">
                    <div style="text-align: center">{{cardData.viewsCount}}</div>
                    <div style="margin-top: 15px; text-align: center"><p class="view-answer">VIEWS</p></div>
                </div>
                <div class="col-sm-6">
                    <div style="text-align: center">{{cardData.answerCount}}</div>
                    <div style="margin-top: 15px; text-align: center"><p class="view-answer">ANSWERS</p></div>
                </div>
            </div>
        </div>
    </div>
</div>
