<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="delta-navbar-user">
            <div class="row">
                <div class="col-xs-2">
                    <a class="delta-navbar-logo btn" href="/">
                        <img src="../../../images/stubhublogo.png" style="height : 45px; width: 106px">
                    </a>
                </div>
                <div class="col-xs-8">
                    <div class="input-group" style="margin-top: 8px">
                        <input ng-keyup="$event.keyCode == 13 && model.search(searchText)"
                               ng-model=" model.searchTerm" type="text" class="form-control" placeholder="Search">
                        <span class="input-group-btn">
                        <a href="#!/search?q={{model.searchTerm}}" class="btn btn-default" type="button">
                            <span class="glyphicon glyphicon-search"></span>
                        </a>
                    </span>
                    </div>
                </div>
                <div class="col-xs-1 pull-right" style="margin-top: 8px">
                    <a ng-show="model.loggedUser" class="delta-navbar-username pull-right" href="#!/profile">
                        <img ng-src="{{model.loggedUser.cover}}" class="delta-navbar-userpic">
                        <h6 class="delta-inline-block hidden-xs">{{model.loggedUser.username}}</h6>
                    </a>

                    <a ng-show="!model.loggedUser" href="#!/login" style="background-color:#d94185; border-color: #d94185;" class="btn btn-success pull-right" type="button"
                       style="margin-top: 8px">
                        <span class="fa fa-sign-in"></span>
                        <h5 class="delta-inline-block hidden-xs">Login</h5>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>