<div class="delta-content">
    <div class="delta-navbar-top">
        <ng-include src="'views/common/templates/navbar-top.view.client.html'">
    </div>
    <div class="container-fluid">
        <div class="row">
            <br>
            <Br>
            <div class="col-xs-1 col-md-2"></div>
            <div class="col-xs-10 col-lg-8 col-md-8">
                <div ng-show="model.errorMessage" class="alert alert-danger">
                    {{ model.errorMessage }}
                </div>
                <form>
                    <div class="question-title">
                        <b>Title</b>
                        <br>
                        <input type="text" ng-model="model.question.title" style="width: 650px" placeholder="Whats your question? Please be specific"/>
                    </div>
                    <div class="delta-component"><br>
                        <b>Description</b><br>
                        <div text-angular ng-model="model.question.description"  id="html"
                             ta-toolbar="[['h1','h2','h3'],['bold','italics','underline','strikeThrough'],
                                         ['ul','ol'],['justifyLeft','justifyCenter','justifyRight','justifyFull'],
                                         ['indent','outdent'],['html']]">
                        </div>
                        <p ng-bind-html="model.question.description"></p>
                    </div>
                    <hr>
                    <div class="tag-input">
                        <b>Tags</b><br>
                        <tags-input ng-model="model.question.tags" use-strings="true" add-on-space="true" placeholder="at least one tag such as (iOS excel html) max 5 tags"></tags-input>
                    </div>
                </form>
                <br>
                <br>
                <a class="btn btn-success"
                   ng-click="model.createQuestion(model.question)" href="/"><h5 class="delta-inline-block hidden-xs">Post Your Question</h5></a>
            </div>
            <div class="col-xs-1 col-md-2"></div>
        </div>
    </div>
</div>
