<div class="delta-content">
    <div class="delta-navbar-top">
        <ng-include src="'views/common/templates/navbar-top-anon.view.client.html'">
    </div>
    <div class="container-fluid">
        <p class="delta-home-margin-top"></p>
        <div class="row">
            <!--<div class="visible-lg visible-md col-md-1"></div>-->
            <div class="col-xs-1 col-md-2"></div>
            <div class="col-xs-10 col-lg-8 col-md-8" style="text-align: left">
                <div class="question-title">
                    <h3>{{model.questionInfo.title}}</h3>
                </div><br>
                <div class="question-user-info" style="text-align: right">
                    - <a href="#!/profile/{{model.questionInfo._user.username}}">{{model.questionInfo._user.username}}</a> asked on <i>{{model.questionInfo.dateCreated}}</i>
                </div>
                <hr>
                <div class="delta-component"><br>
                    Description<br>
                    <div class="display-question" ng-bind-html="model.questionInfo.description">
                    </div>
                </div>
                <hr>
                <div class="tag-display">
                    Tags<br>
                    <ul class="list-group" ng-repeat="tag in model.questionInfo.tags track by $index">
                        <li class="list-group-item" style="background-color:#D3D3D3">
                            <a href="#!/?tag={{tag}}">{{tag}}</a>
                        </li>
                    </ul>
                </div>
                <br><br>
                <hr>
                <div>
                    <p>Know someone who can answer? Share a link to this question via email, Google+, Twitter, or
                        Facebook.
                    </p>
                    <div class="delta-top-questions">
                        <h3>Answers:</h3>
                        <ul class="list-group" ng-repeat="answer in model.answers track by $index">
                            <li class="list-group-item" style="background-color:#D3D3D3">
                                <p ng-bind-html=answer.text></p>
                                <div class="question-user-info" style="text-align: right">
                                    -<a href="/">{{answer._user.username}}</a> posted on <i>{{model.dateCreated}}</i>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <h3>Your Answer</h3>
                </div>
                <div class="delta-component"><br>
                    <div text-angular ng-model="model.answer.text" id="html"
                         ta-toolbar="[['h1','h2','h3'],['bold','italics','underline','strikeThrough'],
                                         ['ul','ol'],['justifyLeft','justifyCenter','justifyRight','justifyFull'],
                                         ['indent','outdent'],['html']]">
                    </div>
                    <p ng-bind-html="model.widget.text"></p>
                </div>
                <a class="btn btn-success" type="button" ng-click="model.addAnswer(model.answer)">
                    <h5 class="delta-inline-block hidden-xs">Post Answer</h5>
                </a>
            </div>
            <div class="col-xs-1 col-md-2"></div>
        </div>
    </div>

</div>

